<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY APP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>



<body>


    <h2 class="text-center">MY LIBRARY</h2>
    <hr>
    <div class="heading">
        <h4 style="text-decoration:underline">BOOK ISSUE</h4>
        <p>

            <form action="/path" method="POST">
                <div>
                    <label>Select your Intreseted Category: </label>
                    <br>
                    <select id="mybooks" name="bk1">
                            <option>None</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Science Fiction">Science Fiction</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Romance">Romance</option>
                            <option value="Detective & Mystery">Detective & Mystery</option>
                            <option value="Horror">Horror</option>
                            <option value="Thriller">Thriller</option>
                            <option value="LGBTQ">LGBTQ</option>
                            <option value="Historical Fiction">Historical Fiction</option>
                            <option value="Young Adult">Young Adult</option>
                            <option value="Children’s Fiction">Children’s Fiction</option>
                            <option value="Autobiography">Autobiography</option>
                            <option value="Biography">Biography</option>
                            <option value="Cooking">Cooking</option>
                            <option value="Art & Photography">Art & Photography</option>
                            <option value="Personal Development">Personal Development</option>
                            <option value="Motivational">Motivational</option>
                            <option value="Health & Fitness">Health & Fitness</option>
                            
                    </select>
                </div>
                <div>

                    <button onclick="getOption()" style="margin:7px 6px; padding:2px" type="submit" class="btn btn-success">Success</button>
                </div>
            </form>



    </div>


    <ul class="quotes">

        <%
            for(var i=0; i<Book_Store.length; i++) {%>

            <% if(Book_Store[i].category === Book_Store[i].Choice){%>
                <li class="quote ">
                    <span><%=Book_Store[i].book %> : </span>
                    <span style="color:red "><%= Book_Store[i].Rent%></span>
                    <span style="color:blue "><%= Book_Store[i].category%></span>
                </li>
                <%}else{%>
                    <%}%>
                        <%}%>
    </ul>



</body>

<script>
    function getOption() {

        element = document.querySelector('#mybooks');
        output = element.value;

        document.querySelector('.display').textContent = output;


    }
</script>



</html>